<div class="dropdown">
  <button class="btn btn-outline-dark me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by: Status
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'active' %>
      <%= label_tag('active', "Active", for: "status_active") %>
    </li>
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'accepted' %>
      <%= label_tag('accepted', "Accepted", for: "status_accepted") %>
    </li>
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'rejected' %>
      <%= label_tag('rejected', "Rejected", for: "status_rejected") %>
    </li>
  </ul>
</div>
