<div class="dropdown">
  <button class="btn btn-outline-dark me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= filter_by_status %>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'active', should_be_checked?(:status, 'active') %>
      <%= label_tag('active', "Active", for: "status_active") %>
    </li>
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'accepted', should_be_checked?(:status, 'accepted')  %>
      <%= label_tag('accepted', "Accepted", for: "status_accepted") %>
    </li>
    <li class="dropdown-item">
      <%= radio_button_tag :status, 'rejected', should_be_checked?(:status, 'rejected')  %>
      <%= label_tag('rejected', "Rejected", for: "status_rejected") %>
    </li>
    <li class="center">
      <% if any_status_filter_applied? %>
        <%= link_to "Clear status", { controller: 'posts', action: 'index', params: search_option } %>
      <% end %>
    </li>
  </ul>
</div>
